MONGODB_URI=mongodb+srv://trantai306_db_user:FHBuXtedXaFLBr22@cluster0.aa02bn1.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=fproxy

# 2Captcha API Key - Lấy từ https://2captcha.com/enterpage
TWOCAPTCHA_API_KEY=your_api_key_here

# 5proxy.vn API Key Xoay
# Lấy key sau khi mua từ 5proxy.vn
FIVEPROXY_KEY=MTc2OTY3MTAyMjAyODtyb3NlbHluamVyZGUxODQ7YXBpLXByb3h5LmhvbWVwcm94eS52bg==_25086b9b93e859a436828ca30f4abb346079de0a

# ixBrowser Profile ID - Lấy từ ixBrowser app hoặc chạy test_ixbrowser.py
IXBROWSER_PROFILE_ID_1=1
IXBROWSER_PROFILE_ID_2=2
IXBROWSER_PROFILE_ID_3=3
IXBROWSER_PROFILE_ID_4=4
IXBROWSER_PROFILE_ID_5=5
IXBROWSER_PROFILE_ID_6=6
IXBROWSER_PROFILE_ID_7=7
IXBROWSER_PROFILE_ID_8=8

# Webhook Names - Tên để identify API key trên webhook (dùng cho hook1.py -> hook8.py)
NAME_1=tai-p1
NAME_2=tai-p2
NAME_3=tai-p3
NAME_4=tai-p4
NAME_5=tai-p5
NAME_6=tai-p6
NAME_7=tai-p7
NAME_8=tai-p8
